<div class="sumry">
  <div class="viewport" class="fullscreen">
      <div class="sumry-profile  classic">
          <div class="cover">
              <header class="full-background themeBackgroundMid top-header-bg">
              </header>
              <div class="cover-section">
                  <div class="container details clearfix">
                      <div class="photo text-center">
                          <img class="avatar avatar-40" noretina="" src="https://sumry.s3.amazonaws.com/uc/f454cc0e3958e292fe2b139a2d993ade_tfss-81118090-631e-497e-b117-1922928e2424-profilewhite2_thumbnail.jpg"
                              alt="Sebastian Kade">
                      </div>
                      <div class="personality">
                          <h1>Sebastian Kade</h1>
                          <h2 class="tagline">Product Manager, Software Engineer.</h2>
                          <p class="bio ng-pristine ng-untouched ng-valid su-editable subtagline" placeholder="A short bio about yourself.">A
                              Product Designer/Full-Stack Engineer who takes ideas from concept to customer. Focused
                              on building great product and happy, high-performance teams.</p>
                          <!-- Social Links -->
                          <div class="social-links clearfix">
                              <span class="social-link">
                                  <a target="_blank" tooltip="linkedin.com/in/sebastiankade" class="">
                                      <i class="fa fa-linkedin themeBackgroundDark"></i>
                                  </a>
                                  <a target="_blank" tooltip="linkedin.com/in/sebastiankade" class="">
                                      <i class="fa fa-dribbble themeBackgroundDark"></i>
                                  </a>
                                  <a target="_blank" tooltip="linkedin.com/in/sebastiankade" class="">
                                      <i class="fa fa-twitter themeBackgroundDark"></i>
                                  </a>
                                  <a target="_blank" tooltip="linkedin.com/in/sebastiankade" class="">
                                      <i class="fa fa-envelope themeBackgroundDark"></i>
                                  </a>
                                </span>
                          </div><!-- Location -->
                          <div class="search-tag-list"><span class="location-tag search-tag empty themeBorderLight themeColorText themeBorderDarkHover themeColorDarkHover"
                                  tooltip="Sydney, New South Wales, Australia"><i class="fa fa-map-marker"></i> <span>Sydney</span></span></div>
                      </div>
                  </div>
                  <div class="text-right profile-actions affix-top" data-offset="10" data-timeout="1100" data-relative="false">
                  </div>
              </div>
          </div>
          <div class="experience-section">
              <h4 class="section-title themeColorDark">Work History</h4>
              <div class="experience-timeline">
                  <!-- Experiences -->
                  <div class="experience-timeline-items">
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 212px; width: 423.281px; transform: translate(-50%, 0px); min-width: 423px;">Bachelor,
                          Information Technology</div>
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 206px; width: 290.25px; transform: translate(-50%, -110%); min-width: 290px;">CargoWise</div>
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 417px; width: 133.031px; transform: translate(-50%, -110%); min-width: 133px;">WhatTime</div>
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 526px; width: 84.6563px; transform: translate(-50%, 0px); min-width: 85px;">Local
                          Measure
                      </div>
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 689px; width: 217.688px; transform: translate(-50%, 0px); min-width: 218px;">MyEd</div><!-- end ngRepeat: experience in timeline.experiences -->
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 738px; width: 314.438px; transform: translate(-50%, -110%); min-width: 314px;">Sumry</div><!-- end ngRepeat: experience in timeline.experiences -->
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 869px; width: 44px; transform: translate(-50%, 0px); min-width: 44px;">WorkDifferent</div><!-- end ngRepeat: experience in timeline.experiences -->
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 955px; width: 120.938px; transform: translate(-50%, 0px); min-width: 121px;">Hanno</div><!-- end ngRepeat: experience in timeline.experiences -->
                      <div class="experience-timeline-item themeBackgroundMid" style="left: 1082px; width: 157.219px; transform: translate(-50%, -110%); min-width: 157px;">Ansarada</div><!-- end ngRepeat: experience in timeline.experiences -->
                  </div><!-- Timeline -->
                  <div class="experience-timeline-line">
                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 0px;">2010</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 145.125px;">2011</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 290.25px;">2012</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 435.375px;">2013</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 580.5px;">2014</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 725.625px;">2015</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 870.75px;">2016</span>

                      <span ng-repeat="label in timeline.dates.labels" ng-if="!$last &amp;&amp; !label.hidden" ng-style="{left: label.left + 'px'}"
                          class="" style="left: 1015.88px;">2017</span>


                      <span>Now</span></div>
              </div>
          </div>
          <div class="sections themeBackgroundLight animated fadeIn" su-scroll-reveal="revealPoints" ng-if="revealPoints">
              <div class="">
                  <su-point-section class="">
                      <section id="36efd309de" scroll-force="true" su-scroll-to-me="section.focused" class="point-section timeline-strict">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="main-timeline">
                                          <div class="timeline">
                                              <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                                              <span class="year">2017</span>
                                              <div class="timeline-content">
                                                  <h5 class="title">Web Desginer</h5>
                                                  <p class="description">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis
                                                      enim. Aenean hendrerit justo sed.
                                                  </p>
                                              </div>
                                          </div>
                                          <div class="timeline">
                                              <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                                              <span class="year">2016</span>
                                              <div class="timeline-content">
                                                  <h5 class="title">Web Developer</h5>
                                                  <p class="description">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis
                                                      enim. Aenean hendrerit justo sed.
                                                  </p>
                                              </div>
                                          </div>
                                          <div class="timeline">
                                              <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                                              <span class="year">2015</span>
                                              <div class="timeline-content">
                                                  <h5 class="title">Web Desginer</h5>
                                                  <p class="description">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis
                                                      enim. Aenean hendrerit justo sed.
                                                  </p>
                                              </div>
                                          </div>
                                          <div class="timeline">
                                              <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                                              <span class="year">2014</span>
                                              <div class="timeline-content">
                                                  <h5 class="title">Web Desginer</h5>
                                                  <p class="description">
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis
                                                      enim. Aenean hendrerit justo sed.
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </section>
                  </su-point-section>
              </div>
              <div>
                  <su-point-section class="">
                      <section id="Skills" scroll-force="true" su-scroll-to-me="section.focused" class="point-section blocks themeBackgroundLight">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h4 class="section-title themeColorDark" ng-bind-html="section.title">Skills</h4>
                                      <div class="uk-container-center uk-container">
                                          <div class="uk-grid" data-uk-margin="">
                                              <div class="uk-width-medium-2-3 uk-margin-small-top">
                                                  <div class="skill-desc mb60">
                                                      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                                          arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                                          justo. Nullam dictum felis eu pede mollis pretium Nullam
                                                          dictum felis eu pede mollispede mollis pretium. Integer tincidunt.
                                                          Cras dapibus.</p>
                                                  </div>
                                                  <div class="uk-progress has-caption uk-progress-striped uk-active uk-progress-mini">
                                                      <div class="uk-progress-bar" style="width: 90%;">
                                                          <span class="name">PUBLISHING</span>
                                                          <span class="percent">90%</span>
                                                      </div>
                                                  </div>
                                                  <div class="uk-progress has-caption uk-progress-mini uk-progress-striped uk-active">
                                                      <div class="uk-progress-bar" style="width: 85%;">
                                                          <span class="name">SUPPORT</span>
                                                          <span class="percent">85%</span>
                                                      </div>
                                                  </div>
                                                  <div class="uk-progress has-caption uk-progress-mini uk-progress-striped uk-active">
                                                      <div class="uk-progress-bar" style="width: 80%;">
                                                          <span class="name">DESIGN</span>
                                                          <span class="percent">80%</span>
                                                      </div>
                                                  </div>
                                                  <div class="uk-progress has-caption uk-progress-mini uk-progress-striped uk-active">
                                                      <div class="uk-progress-bar" style="width: 70%;">
                                                          <span class="name">PAINT</span>
                                                          <span class="percent">70%</span>
                                                      </div>
                                                  </div>
                                                  <div class="uk-progress has-caption uk-progress-mini uk-progress-striped uk-active">
                                                      <div class="uk-progress-bar" style="width: 65%;">
                                                          <span class="name">PRINTING</span>
                                                          <span class="percent">65%</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </section>
                  </su-point-section>
              </div>
              <div>
                  <su-point-section class="">
                      <section id="Hobbies" scroll-force="true" su-scroll-to-me="section.focused" class="point-section">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h4 class="section-title themeColorDark" ng-bind-html="section.title">Hobbies</h4>
                                      <div id="interests" class="interest-area wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                          <div class="interest-box">
                                              <p>I like playing football with my friends and we play basketball at
                                                  lunch sometimes but it's just recreational, I'm not on the school
                                                  team/haven't got certificates to prove it.</p>
                                              <p>I get feelings of fulfillment when I see any seed disseminated by
                                                  me rising into blossoming floras and stunning plants. I get pleasure
                                                  in watering my plants and caring them daily.</p>
                                              <ul class="interests-list">
                                                  <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Motorcycle">
                                                      <i class="fa fa-motorcycle" aria-hidden="true"></i>
                                                  </li>
                                                  <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Movie">
                                                      <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                                  </li>
                                                  <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Book">
                                                      <i class="fa fa-book" aria-hidden="true"></i>
                                                  </li>
                                                  <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Football">
                                                      <i class="fa fa-soccer-ball-o" aria-hidden="true"></i>
                                                  </li>
                                                  <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tree">
                                                      <i class="fa fa-tree" aria-hidden="true"></i>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </section>
                  </su-point-section>
              </div>
              <div>
                  <su-point-section class="">
                      <section id="References" scroll-force="true" su-scroll-to-me="section.focused" class="point-section blocks themeBackgroundLight">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h4 class="section-title themeColorDark" ng-bind-html="section.title">References</h4>
                                      <ul class="points clearfix">
                                          <su-point class="">
                                              <li class="profile-point exp-none reference right has-icon">
                                                  <!-- Point Dot -->
                                                  <div class="themeBackgroundDark dot unselectable">
                                                      <i class="fa fa-quote-left"></i>
                                                  </div>
                                                  <div class="point-body point-details">
                                                      <div class="">
                                                          <div class="reference-quote themeBorderFaded">
                                                              <h5 class="themeColorDark">We really need something like
                                                                  Sumry: a better way of sharing our backgrounds. Cool
                                                                  layout and sets out the information very nicely.</h5>
                                                          </div>
                                                          <div class="reference-details">
                                                              <div class="reference-photo" style="background-image: url(&quot;https://static.sumry.me/proxy?width=430&amp;url=https%3A%2F%2Fsumry.s3.amazonaws.com%2Fuc%2Fac6c81afff98da9707e78d642cb19d4c_tfss-38bd8eec-013e-46ab-bbdf-c414c091f4b1-Unknown_thumbnail.png&quot;);"></div>
                                                              <div>
                                                                  <p>Michael Smith</p>
                                                              </div>
                                                              <div><small>Recruiter at Facebook</small>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li class="profile-point exp-none reference right has-icon">
                                                      <!-- Point Dot -->
                                                      <div class="themeBackgroundDark dot unselectable">
                                                          <i class="fa fa-quote-left"></i>
                                                      </div>
                                                      <div class="point-body point-details">
                                                          <div class="">
                                                              <div class="reference-quote themeBorderFaded">
                                                                  <h5 class="themeColorDark">We really need something like
                                                                      Sumry: a better way of sharing our backgrounds. Cool
                                                                      layout and sets out the information very nicely.</h5>
                                                              </div>
                                                              <div class="reference-details">
                                                                  <div class="reference-photo" style="background-image: url(&quot;https://static.sumry.me/proxy?width=430&amp;url=https%3A%2F%2Fsumry.s3.amazonaws.com%2Fuc%2Fac6c81afff98da9707e78d642cb19d4c_tfss-38bd8eec-013e-46ab-bbdf-c414c091f4b1-Unknown_thumbnail.png&quot;);"></div>
                                                                  <div>
                                                                      <p>Michael Smith</p>
                                                                  </div>
                                                                  <div><small>Recruiter at Facebook</small>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </li>

                                          </su-point>

                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </section>
                  </su-point-section>
              </div>
          </div><!-- end ngIf: revealPoints -->
          <style id="profileColors" su-profile-theme="version.model.color">
              .themeBackgroundLight,
              .themeBackgroundLightHover:hover {
                  background-color: #f2fdfb !important
              }

              .themeBackgroundDark,
              .themeBackgroundDarkHover:hover {
                  background-color: #16a085 !important
              }

              .themeBackgroundMid,
              .themeBackgroundMidHover:hover {
                  background-color: #1ccdaa !important
              }

              .themeBackgroundFaded,
              .themeBackgroundFadedHover:hover {
                  background-color: rgb(128, 255, 230) !important
              }

              .themeColorLight,
              .themeColorLightHover:hover {
                  color: #f2fdfb !important
              }

              .themeColorDark,
              .themeColorDarkHover:hover {
                  color: #16a085 !important
              }

              .themeColorText,
              .themeColorTextHover:hover {
                  color: rgb(127, 141, 138) !important
              }

              .themeColorTextDark,
              .themeColorTextDarkHover:hover {
                  color: rgb(39, 63, 58) !important
              }

              .themeBorderLight,
              .themeBorderLightHover:hover {
                  border-color: #f2fdfb !important
              }

              .themeBorderFaded,
              .themeBorderFadedHover:hover {
                  border-color: rgb(189, 255, 242) !important
              }

              .themeBorderDark,
              .themeBorderDarkHover:hover {
                  border-color: #16a085 !important
              }

              .themeGradientLight,
              .themeGradientLightHover:hover {
                  background: linear-gradient(to bottom, #f2fdfb 95%, rgba(242, 253, 251, 0.01) 100%) !important
              }

              .themeGradientDark,
              .themeGradientDarkHover:hover {
                  background: linear-gradient(to bottom, #16a085 95%, rgba(22, 160, 133, 0.01) 100%) !important
              }

              .mention,
              .highlight,
              .profile a {
                  color: #16a085 !important;
              }
          </style>
      </div>
  </div><!-- ngIf: me && me.id -->
  <!-- ngIf: me && showFooter -->
</div>