:root {
    --main-green-color: #16a085;
    --main-light-green-color: rgb(128, 255, 230);
}
$main-green-color: #16a085;
$main-light-green-color: rgb(128, 255, 230);

.main-timeline{
    overflow: hidden;
    position: relative;
}

.main-timeline .timeline{
    width: 50%;
    float: left;
    z-index: 1;
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    clear: both;
}

.main-timeline .timeline:before{
    content: "";
    width: 40px;
    height: 90%;
    background: $main-green-color;
    position: absolute;
    top: 10%;
    right: -20px;
}

.main-timeline .timeline:last-child:before{ height: 0; }

.main-timeline .timeline-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $main-green-color;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 3;
}

.main-timeline .timeline-icon:before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .timeline-icon i{
    font-size: 35px;
    color: $main-green-color;
    line-height: 80px;
    z-index: 1;
    position: relative;
}

.main-timeline .year{
    display: block;
    padding: 0 60px 0 30px;
    font-size: 30px;
    color: $main-green-color;
    text-align: right;
    border-bottom: 2px solid $main-light-green-color;
    z-index: 2;
    position: relative;
}

.main-timeline .year:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $main-green-color;
    border: 5px solid #fff;
    box-shadow: 0 0 0 4px $main-light-green-color;
    margin: auto;
    position: absolute;
    bottom: -15px;
    left: 4px;
}

.main-timeline .year:after{
    content: "";
    border-left: 10px solid $main-green-color;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 50px;
}

.main-timeline .timeline-content{
    padding: 18px 60px 18px 40px;
    text-align: right;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: "";
    width: 80px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -7%;
    right: 15px;
    z-index: -1;
}

.main-timeline .timeline-content:after{
    left: auto;
    right: -95px;
}

.main-timeline .timeline:last-child .timeline-content:before,
.main-timeline .timeline:last-child .timeline-content:after{
    width: 0;
    height: 0;
}

.main-timeline .title{
    font-size: 22px;
    font-weight: bold;
    color: $main-green-color;
    margin-top: 0;
}

.main-timeline .description{
    line-height: 25px;
}

.main-timeline .timeline:nth-child(2){ margin-top: 140px; }

.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }

.main-timeline .timeline:nth-child(odd){ margin: -140px 0 0 0; }

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){
    margin: 0 !important;
}

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    right: auto;
    left: -20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon{ left: -40px }

.main-timeline .timeline:nth-child(2n) .year{
    padding: 0 30px 0 60px;
    text-align: left;
}

.main-timeline .timeline:nth-child(2n) .year:before{
    left: auto;
    right: 3px;
}

.main-timeline .timeline:nth-child(2n) .year:after{
    border-left: none;
    border-right: 10px solid $main-green-color;
    right: 50px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content{
    padding: 18px 40px 18px 60px;
    text-align: left;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before{ left: -95px; }

.main-timeline .timeline:nth-child(2n) .timeline-content:after{ left: 15px; }

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{ background: $main-green-color; }

.main-timeline .timeline:nth-child(2n) .timeline-icon:before{
    border-color: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(2n) .year:before{
    background: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(2n) .title{ color: $main-green-color; }

.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .timeline-icon{ background: $main-green-color; }

.main-timeline .timeline:nth-child(3n) .timeline-icon:before{
    border-color: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(3n) .year:before{
    background: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(3n) .title{ color: $main-green-color; }

.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .timeline-icon{
    background: $main-green-color;
}

.main-timeline .timeline:nth-child(4n) .timeline-icon:before{
    border-color: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(4n) .year:before{
    background: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(4n) .title{ color: $main-green-color; }


.main-timeline .timeline:nth-child(5n):before,
.main-timeline .timeline:nth-child(5n) .timeline-icon{ background: $main-green-color; }

.main-timeline .timeline:nth-child(5n) .timeline-icon:before{
    border-color: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(5n) .year:before{
    background: $main-green-color;
    box-shadow: 0 0 0 4px $main-light-green-color;
}

.main-timeline .timeline:nth-child(5n) .title{ color: $main-green-color; }

@media only screen and (max-width: 990px){
    .main-timeline .timeline{ width: 100%; }
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        margin: 0;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        width: 30px;
        height: 100%;
        left: 25px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon{
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        text-align: left;
        padding: 0 30px 0 100px;
    }
    .main-timeline .year:before,
    .main-timeline .timeline:nth-child(2n) .year:before{
        left: auto;
        right: 4px;
    }
    .main-timeline .year:after{
        left: auto;
        right: 50px;
        border-right: 10px solid $main-green-color;
        border-left: none;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        text-align: left;
        padding: 18px 40px 18px 100px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline-content:after{
        width: 0;
        height: 0;
    }
}

/* /** Progress Bar **/

.uk-progress {
    box-sizing: border-box;
    height: 20px;
    margin-bottom: 15px;
    background:$main-light-green-color!important;
    overflow: hidden;
    line-height: 20px
}

*+.uk-progress {
    margin-top: 15px
}

.uk-progress-bar {
    width: 0;
    height: 100%;
    background: $main-green-color!important;
    float: left;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    font-size: 12px;
    color: #fff;
    text-align: center
}

.uk-progress-mini {
    height: 6px
}

.uk-progress-small {
    height: 12px
}

.uk-progress-success .uk-progress-bar {
    background-color: #8cc14c
}

.uk-progress-warning .uk-progress-bar {
    background-color: #faa732
}

.uk-progress-danger .uk-progress-bar {
    background-color: #da314b
}

.uk-progress-striped .uk-progress-bar {
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 30px 30px
}

.uk-progress-striped.uk-active .uk-progress-bar {
    -webkit-animation: uk-progress-bar-stripes 2s linear infinite;
    animation: uk-progress-bar-stripes 2s linear infinite
}

@-webkit-keyframes uk-progress-bar-stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 30px 0
    }
}

@keyframes uk-progress-bar-stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 30px 0
    }
}

/* Progress Bar Ends */

/** Skills **/
@charset "utf-8";
section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*-------------------------
    03. Uikit overide
---------------------------*/
.tc-dotnav>* {
    padding-left: 10px;
}
.tc-dotnav>*>* {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    -webkit-transition: all .3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
    transition: all .3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
}
.tc-dotnav.tc-dotnav>*>:active,
.tc-dotnav>.uk-active>* {
    width: 30px;
}
.has-caption.uk-progress {
    overflow: visible;
    margin: 35px 0px;
}
.has-caption .uk-progress-bar {
    position: relative;
}
.has-caption .uk-progress-bar > span {
    position: absolute;
    top: -24px;
    color: #444;
}
.has-caption .uk-progress-bar > span.name {
    left: 0;
}
.has-caption .uk-progress-bar > span.percent {
    right: 0;
}
/** Skills Ends */

/** Hobbies Start **/

.interests-list {
    margin: 0;
    padding: 15px 0 0;
    list-style: none;
    text-align: center;
}
.interests-list li {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 7px 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.interests-list i {
    font-size: 30px;
    line-height: 80px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color:$main-green-color;
}

/** Experience **/
.experience-explore-tooltip.su-popover,
.experience-explore-tooltip.su-popover-ui {
    min-width: 430px;
    max-width: 430px
}

.experience-explore-tooltip .tile-section.header {
    position: relative
}

.experience-explore-tooltip .tile-section.header h1 {
    margin-bottom: 0;
    font-size: 18px;
    color: #63717b
}

.experience-explore-tooltip .tile-section.header .button-add {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color: #9fadb7
}

.experience-explore-tooltip .experience-list {
    margin: 0;
    padding: 0!important;
    max-height: 240px;
    overflow-y: auto
}

.experience-explore-tooltip .experience-list .list-item {
    padding: 10px
}

.experience-explore-tooltip .experience-list .list-item h2 {
    font-size: 14px
}

.experience-explore-tooltip .experience-list .list-item i.pull-right {
    opacity: .3;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.experience-explore-tooltip .experience-list .list-item:not(.disabled):not(:active):hover {
    background-color: rgba(0, 189, 156, .1)
}

.experience-logo {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    overflow: hidden
}

.experience-logo:not(:empty) {
    background-color: #e9eaec;
    color: #9fadb7
}

.experience-item {
    position: relative;
    text-align: left;
    display: block
}

.experience-item:not(.no-icon) {
    padding-left: 60px!important
}

.experience-item[disabled] {
    pointer-events: none
}

.experience-item .experience-logo {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.experience-item>i.experience-logo,
.experience-item>img.experience-logo {
    background-color: none!important
}

.experience-item h1,
.experience-item h2,
.experience-item h3 {
    margin: 0
}

.experience-item h1:not(:last-child),
.experience-item h2:not(:last-child),
.experience-item h3:not(:last-child) {
    margin-bottom: 3px
}

.experience-item h1 weak,
.experience-item h2 weak,
.experience-item h3 weak {
    margin-left: 5px
}

.experience-item h1.weak,
.experience-item h2.weak,
.experience-item h3.weak {
    color: #7f8c8d
}

.experience-item h1 {
    font-size: 15px;
    margin-bottom: 1px
}

.experience-item h2 {
    font-size: 15px;
    color: #63717b
}

.experience-item h3 {
    font-size: 13px;
    color: #9fadb7
}

.experience-item h3>i,
.experience-item h3>img {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 5px
}

.experience-timeline {
    position: relative;
    min-height: 80px;
    padding-top: 10px
}

.experience-timeline .experience-timeline-items {
    height: 10px;
    z-index: 1;
    position: relative
}

.experience-timeline .experience-timeline-item {
    position: absolute;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 40px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #16a085;
    /* opacity: .6; */
    width: auto
}

.experience-timeline .experience-timeline-item:hover {
    opacity: 1;
    min-width: 200px!important;
    padding: 0 10px;
    z-index: 1
}

.experience-timeline .experience-timeline-line {
    display: block;
    width: 100%;
    height: 40px;
    border-top: 1px solid #e9eaec;
    position: relative;
    padding-top: 10px
}

.experience-timeline .experience-timeline-line span {
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #aebbc4
}

.experience-timeline .experience-timeline-line span:last-child {
    left: 100%
}

.experience-timeline .experience-timeline-line span:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 10px;
    background: #e9eaec
}

.experience-edit-modal .tile-section.header {
    padding-bottom: 0
}