<header class="header-2" id="header">
  <div class="vd_top-menu-wrapper vd-bg-color-light-green">
    <div class="container">
      <div class="vd_top-nav vd_nav-width  ">
        <div class="vd_panel-header">
          <div class="logo">
            <a href="index.php"><img alt="logo" src="images/logo-white.png"></a>
          </div>
          <!-- logo -->
          <div class="vd_panel-menu visible-sm visible-xs">
            <span class="menu visible-xs" data-action="submenu">
              <i class="fa fa-bars"></i>
            </span>
          </div>
          <!-- vd_panel-menu -->
        </div>
        <!-- vd_panel-header -->

      </div>
      <div class="vd_container">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="vd_mega-menu-wrapper horizontal-menu">
              <div class="vd_mega-menu">
                <ul class="mega-ul nav">
                  <li class="mega-li">
                    <a href="#" class="mega-link" data-waypoint="home">
                      <span class="menu-text"><i class="fa fa-home font-md hidden-xs"></i><span class="visible-xs">Home</span></span>
                    </a>

                  </li>
                  <li class="mega-li">
                    <a href="#" class="mega-link" data-waypoint="services">
                      <span class="menu-text">Services</span>
                    </a>

                  </li>
                  <li class="mega-li">
                    <a href="#" class="mega-link" data-waypoint="features">
                      <span class="menu-text">Features</span>
                    </a>

                  </li>
                  <li class="mega-li">
                    <a href="#" class="mega-link" data-waypoint="clients">
                      <span class="menu-text">Clients</span>
                    </a>

                  </li>
                  <li class="mega-li">
                    <a href="#" class="mega-link" data-waypoint="contact">
                      <span class="menu-text">Contact</span>
                    </a>

                  </li>
                  <li class="hover-trigger mega-li">
                    <a href="#" class="mega-link" data-action="click-trigger">
                      <span class="menu-text">Go</span> <i class="fa fa-caret-down prepend-icon"></i>
                    </a>
                    <div class="vd_mega-menu-content  width-xs-2  right-xs hover-target no-top" data-action="click-target">
                      <div class="child-menu">
                        <div class="content-list content-menu">
                          <ul class="list-wrapper pd-lr-10">
                            <li> <a href="front-1.php"> Front 1 </a> </li>
                            <li> <a href="front-2.php"> Front 2</a> </li>
                            <li> <a href="front-blog.php"> Front Blog</a> </li>
                            <li> <a href="front-blog-content.php"> Front Blog Content</a> </li>
                            <li> <a href="index.php"> Admin Panel </a> </li>
                            <li> <a href="http://themeforest.net/item/vendroid-super-flexible-multipurpose-admin-theme/7717536?ref=Venmond">
                              Buy This Theme </a> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Head menu search form ends -->
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="vd_mega-menu-wrapper">
              <div class="vd_mega-menu pull-right">
                <ul class="mega-ul">
                  <li id="top-menu-1" class="one-icon mega-li">
                    <a href="pages-login.php" class="btn vd_btn vd_btn-bevel vd_bg-yellow font-semibold">Login</a>
                  </li>
                  <li id="top-menu-2" class="one-icon mega-li">
                    <a href="pages-register.php" class="btn vd_btn vd_btn-bevel vd_bg-yellow font-semibold">Register</a>
                  </li>

                </ul>
                <!-- Head menu search form ends -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- vd_primary-menu-wrapper -->
</header>
<div class="content brand-page">
  <section class="main header tight-bottom">
    <div class="container">
      <h1 class="hero">Be memorable.<br>Land your dream job.</h1><!-- CTA --><a class="button large ghost white inline" href="./signup">Get
        started now</a><div class="section-line"><a ng-click="scrollToHow()">How?</a></div>
      <div class="brand-companies">
        <div class="row">

        </div>
      </div>
    </div>
  </section>
  <section id="how" su-scroll-to-me="goToHow">
    <div class="container">
      <div class="row how-titles">
        <div class="col-md-5 col-md-offset-1 how-title resume"><img src="assets/frontend-theme/images/arrow.png" class="arrow left"><h1>Hook
            them</h1>
          <h2>with your resume</h2>
        </div>
        <div class="col-md-5 how-title profile">
          <h1>Win them</h1>
          <h2>with your story</h2><img class="arrow right" src="assets/frontend-theme/images/arrow.png"></div>
      </div>
      <div class="row how-images visible" su-when-visible="scrollMacbook()" buffer="{top: -200}">
        <div class="col-xs-4 no-padding how-image resume"><img src="assets/frontend-theme/images/resume.png"></div>
        <div class="col-xs-8 no-padding how-image profile">
          <div class="macbook">
            <!-- <div class="screen">
              <img class="profile" src="assets/frontend-theme/images/profile.png">
            </div> -->
            <img src="assets/frontend-theme/images/macbook.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="front-1-banner" class="vd_banner vd_bg-dark-green clearfix slide-waypoint" data-waypoint="home">
    <div class="container">
      <div class="vd_content vd_info-parent clearfix">
        <div class="word-header">
          <h1 class="font-semibold text-center vd_white"><strong>SUPER FLEXIBLE</strong> ADMIN THEME</h1>
        </div>
        <div class="word-subheader">
          <h3 class="text-center vd_white">Fast Deployment and 100% Full Control Admin Theme</h3>
        </div>
        <div class="icon-banner icon-1"><img alt="example image" src="assets/frontend-theme/images/icon-1.png"></div>
        <div class="icon-banner word-1"><img alt="example image" src="assets/frontend-theme/images/word-1.png"></div>
        <div class="icon-banner icon-2"><img alt="example image" src="assets/frontend-theme/images/icon-2.png"></div>
        <div class="icon-banner word-2"><img alt="example image" src="assets/frontend-theme/images/word-2.png"></div>
        <div class="icon-banner icon-3"><img alt="example image" src="assets/frontend-theme/images/icon-3.png"></div>
        <div class="icon-banner word-3"><img alt="example image" src="assets/frontend-theme/images/word-3.png"></div>
      </div>
    </div>
  </div>
  <div class="vd_banner vd_bg-white clearfix pd-20">
    <div class="container">
      <div class="vd_content clearfix">
        <div class="row">
          <div class="col-md-4 mgbt-sm-10 mgbt-md-0">
            <div class="highlight-word appear">
              <div class="font-semibold font-md"><strong>CREATE AN ACCOUNT</strong></div>
              <div class="font-md deploy-word">Deploy in 1 minute</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row  highlight-form appear">
              <div class="col-sm-4">
                <input class="mgtp-5 input-lg vd_white vd_bg-black-80" type="email" placeholder="email">
              </div>
              <div class="col-sm-4 mgbt-xs-10 mgbt-sm-0 ">
                <input class="mgtp-5 input-lg vd_white vd_bg-black-80" type="password" placeholder="password">
              </div>
              <div class="col-sm-4  mgbt-xs-10"> <a class="btn vd_btn btn-lg vd_btn-bevel vd_bg-green">Get Started !</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>