<section class="page-content tab-pane p-container">
    <div class="row">

        <!-- ABOUT TITLE -->
        <div class="title">
            <h2>About Me <span>Artist, Thinker, Creative Doer</span></h2>
        </div>

        <!-- AVATAR IMAGE -->
        <div class="col-md-5 about-img">
            <img src="http://joker-themes.com/saadia-demo/img/avatar.jpg" alt="avatar" class="mCS_img_loaded">
        </div>

        <!-- ABOUT CONTENT -->
        <div class="col-md-7 about-content">
            <h2>I am Web Designer @ Company.com</h2>
            <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable
                forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image,
                and the breath of that universal love which bears and sustains us, as it floats around us in an eternity
                of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my
                soul and absorb its power, like the form of a beloved mistress, then I often think with longing .</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">
        <!-- ABOUT INFO -->
        <div class="info col-md-5">

            <div class="small-title">
                <h4>Personal Information</h4>
            </div>

            <ul>
                <li class="col-md-12">
                    <span class="i-title">Name</span>
                    <span class="value">John Doe</span>
                </li>
                <li class="col-md-12">
                    <span class="i-title">Age</span>
                    <span class="value">28 Years</span>
                </li>
                <li class="col-md-12">
                    <span class="i-title">Experience</span>
                    <span class="value">+10 Years</span>
                </li>
                <li class="col-md-12">
                    <span class="i-title">Email</span>
                    <span class="value">
                        <a href="mailto:email@example.com">email@example.com</a>
                    </span>
                </li>
                <li class="col-md-12">
                    <span class="i-title">Phone</span>
                    <span class="value">(324) 123-4567</span>
                </li>
                <li class="col-md-12">
                    <span class="i-title">Address</span>
                    <span class="value">88 Some Street</span>
                </li>
            </ul>

        </div>

        <!-- ABOUT SKILLS -->
        <div class="about-skills col-md-7">

            <div class="small-title">
                <h4>Professional Skills</h4>
            </div>

            <ul>

                <li>
                    <span>HML5 &amp; CSS3</span>
                    <div class="progress">
                        <div class="progress-bar" data-percent="95" style="width: 95%;">
                            <span>95%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <span>PHP</span>
                    <div class="progress">
                        <div class="progress-bar" data-percent="90" style="width: 90%;">
                            <span>90%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <span>Javascript</span>
                    <div class="progress">
                        <div class="progress-bar" data-percent="55" style="width: 55%;">
                            <span>55%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <span>Wordpress</span>
                    <div class="progress">
                        <div class="progress-bar" data-percent="65" style="width: 65%;">
                            <span>65%</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="clear"></div>
</section>
<section class="page-content tab-pane p-container">
    <div class="row resume ">

            <!-- RESUME TITLE -->
            <div class="title">
                <h2>Resume <span>10 Years of Experience</span></h2>
            </div>

            <div class="working col-md-6">
                    <div class="column-left">
    
                        <span class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    
                        <!-- WORKING TIME LINE ITEM -->
                        <div class="item">
                            <h6 class="sm-titl">Frontend-developer - Facebook Inc.</h6>
                            <span class="date">2016 - Present</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
    
                        <!-- WORKING TIME LINE ITEM -->
                        <div class="item">
                            <h6 class="sm-titl">UI/UX Developer - Google Inc.</h6>
                            <span class="date">2013 - 2016</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
    
                        <!-- WORKING TIME LINE ITEM -->
                        <div class="item">
                            <h6 class="sm-titl">Senior Developer - Abc Inc.</h6>
                            <span class="date">2010 - 2013</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
    
                    </div>
                </div>
            <div class="education col-md-6">
                <div class="column-right">

                    <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>

                    <!-- EDUCATION TIME LINE ITEM -->
                    <div class="item">
                        <h6 class="sm-titl">Abc University of Los Angeles.</h6>
                        <span class="date">2015 - 2017</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>

                    <!-- EDUCATION TIME LINE ITEM -->
                    <div class="item">
                        <h6 class="sm-titl">Specialization Course.</h6>
                        <span class="date">2011 - 2014</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>

                    <!-- EDUCATION TIME LINE ITEM -->
                    <div class="item">
                        <h6 class="sm-titl">Abc High School.</h6>
                        <span class="date">2009 - 2011</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>

                </div>
            </div>

            

            <div class="clear"></div>
    </div>
</section>